@font-face {
	font-family: 'Jojoba';
	src: local(Jojoba), url(/fonts/Jojoba.woff2) format('woff2');
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	background-color: #282c34;
	color: whitesmoke;
	font-family: 'Jojoba';
	margin: 0;
	padding: 0;
}
